.jumbotron {
  padding-top: 6rem;
  background-color: #f5f3f3;
}
section {
  padding-top: 5rem;
}
/* gallery */
#projects,
#gallery {
  background-color: #f5f3f3;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
.image-box a {
  overflow: hidden;
  border: 5px solid #f3f4f5;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  position: relative;
}
.image-box a,
.image-box a img,
.image-box a span {
  border-radius: 5px;
}
.image-box a span {
  font-size: 30px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 250px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.5s;
}
.image-box a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}
.clear {
  clear: both;
}
/* Overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  text-align: center;
  padding: 100px;
}
.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-top: -70px;
  margin-left: -100px;
}
.overlay:target img {
  animation: fadeAjah 1s;
}
.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
  left: 150px;
}
.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}
.overlay:target .next,
.overlay:target .prev {
  animation: fadeAjah 0.5s 0.5s forwards;
}
/* navigasi */
.next,
.prev {
  width: 57px;
  height: 93px;
  background-image: url(img/navigation/next.png);
  text-indent: -99999px;
  top: 40%;
  position: absolute;
  right: 99999px;
  opacity: 0;
  border: 0px solid white !important;
}
.prev {
  right: 200;
  background-image: url(img/navigation/prev.png);
}
/* Animasi */
@keyframes zoomDanfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeAjah {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* my 3D section */

.three-dimension-box {
  position: relative;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}
.three-dimension-box::before {
  content: "THREE";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}
.three-dimension-box:hover::before {
  opacity: 0.8;
}
.three-dimension-box::after {
  content: "DIMENSION";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  left: 50%;
  opacity: 0;
  transition: 0.5s;
}
.three-dimension-box:hover::after {
  opacity: 0.8;
}
.three-dimension-name {
  color: #fff;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
  position: absolute;
}

.three-dimension-box:hover .three-dimension-name {
  top: 20px;
  opacity: 1;
}
.three-dimension-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.three-dimension-box:hover .three-dimension-detail-button {
  opacity: 1;
  bottom: 20px;
}
.three-dimension-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
}

.three-dimension-box:hover .three-dimension-img {
  transform: translate(-50%, -52%, 80px) rotate(15deg) scale(1, 2);
}
/* overlay 3d */
.overlay3d {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  text-align: center;
  padding: 100px;
}
.overlay3d:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay3d img {
  max-height: 90%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -85px;
}

.overlay3d:target img {
  animation: fadeAjah 1s;
}
.overlay3d .close {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  margin-left: 0px;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
  left: 150px;
}
.overlay3d:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}

/* * DESKTOP VERSION */
@media (min-width: 992px) {
  .overlay img {
    max-height: 100%;
    margin-left: -5px;
    margin-top: 0;
  }
  .overlay .close {
    margin-left: -15px;
  }
  .overlay3d:target .close {
    animation: slideDownFade 0.5s 0.5s forwards;
  }
  .overlay3d img {
    margin: 0px;
  }
  .overlay3d .close {
    margin-left: -20px;
  }
  .next,
  .prev {
    margin-left: 850px;
  }
  .prev {
    margin-left: 300px;
  }
}
