.jumbotron {
  padding-top: 6rem;
  background-color: #f5f3f3;
}
section {
  padding-top: 5rem;
}

#projects {
  background-color: #f5f3f3;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
