.jumbotron {
    padding-top: 6rem;
    background-color: #fafafa;
  }
  section {
    padding-top: 5rem;
  }
  footer .rahmad {
    text-decoration: none;
  }
  .aboutcontent,
  .card-text {
    text-align: justify;
  }
  