/* gallery */
#gallery {
  background-color: #fff;
}
.gallery-img {
  width: 100%;
  margin-right: 50px;
}
#gallery .row > * {
  padding: 0;
}
.image-box {
  position: relative;
  overflow: hidden;
  width: 310px;
  height: 310px;
  border-radius: 15px;
  margin: auto;
}
.image-box::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 750px;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 3s linear infinite;
  margin: -200px -150px;
}
.image-box::after {
  content: "";
  background-color: #fff;
  border-radius: 16px;
  inset: 4px;
}
.image-box a {
  overflow: hidden;
  float: left;
  margin-right: -50px;
  margin-top: 5px;
  position: relative;
}
.image-box a,
.image-box a img,
.image-box a span {
  border-radius: 5px;
}
.image-box a span {
  font-size: 30px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 250px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.5s;
  margin: auto 5px;
  border-radius: 15px;
}
.image-box a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}
.clear {
  clear: both;
}
.image-box img {
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: auto 5px;
  padding: 1px;
  border-radius: 15px;
}
/* Overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  text-align: center;
  padding: 100px;
}
.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay img {
  max-height: 100%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: -80px;
  margin-top: -80px;
  width: 320px;
  height: 420px;
}
.overlay:target img {
  animation: fadeAjah 1s;
}
.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
  left: 150px;
}
.overlay:target .close {
  animation: slideDownFade 0.5s 0.5s forwards;
}
.overlay:target .next,
.overlay:target .prev {
  animation: fadeAjah 0.5s 0.5s forwards;
}
/* navigasi */
.next,
.prev {
  width: 57px;
  height: 93px;
  background-image: url(img/navigation/next.png);
  text-indent: -99999px;
  top: 40%;
  position: absolute;
  right: 99999px;
  opacity: 0;
  border: 0px solid white !important;
}
.prev {
  right: 200;
  background-image: url(img/navigation/prev.png);
}

/* Animasi */
@keyframes zoomDanfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeAjah {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
